<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1>All Usernames</h1>
    <p>Check terminal to see temporary WIP log</p>

    <a href="/new">Add new Username</a>
    
</body>
</html>